* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    margin-top: 15px;
    margin-left: 50px;
    cursor: pointer;
    word-spacing: 20px;
    display: inline-block;
    font-size: 22px;
    background: #4CB538;
    border-radius: 5px;
    cursor: pointer;
    word-spacing: 20px;
    letter-spacing: 0;
    display: inline-block;
    font-size: 22px;
    margin-right: 50px;

}

img {
    margin: 163px 0 0 123px;
}

.pareh1 {
    display: inline-block;
    margin-left: 85px;
    width: 493px;

}

h1 {
    font-weight: 700;  
    font-size: 62px;
    line-height: 82px;
    letter-spacing: 0.596154px;
    
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.5px;
    margin-left: 85px;
    margin-top: 57px;
    margin-bottom: 55px;

}

.botao2 {
    font-size: 22px;
    width: 112px;
    height: 27px;
    margin-left: 40%;
     cursor: pointer;
    display: inline-block;
    color: #6FBF44;
    border: 0cap;
}





